{{ define "head" }}
  <head>
    <title>{{ .PageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{{ .CSS_Shared }}</style>
    <script>{{ .JS_Shared }}</script>
  </head>
{{ end }}


