<script>
    async function submitPost() {
        const form = document.getElementById("uploadForm");
        const data = new FormData(form);
        let response = await fetch("/uploadItem", {
            method: "POST",
            body: data,
        });

        let res = await response.json();
        handleResponse(res);
    }

    function handleResponse(res) {
        if (res.success == "true") {
            window.location = window.location.origin;
        } else {
            document.getElementById("errorField").innerHTML = res.error;
        }
    }
</script>
<style>
html {
    margin: 1em;
}
input, textarea {
    border: none;
}
::placeholder {
    color: var(--html-bg);
    opacity: 1; /* Firefox */
}
.uploadForm {
    display: flex;
    flex-direction: column;
    max-width: 80ch;
    margin-bottom: 1em;
}
.uploadForm > * {
    padding: 0.3em;
    width: 100%;
    border-radius: 0.3em;
    margin-top: 0.5em;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px #e2e2e2;
}
.form-submit {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background: #f38d1c;
    border: 1px solid orange;
    color: white;
    box-shadow: 0px 0px 6px 2px orange;
    text-shadow: 0px 2px 2px #8e5c00;
}
.stream > div {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 0.4em;
    background: #FFFFFF;
}
.media-item > img {
    max-width: 100%;
    border-radius: 0.4em;
}
.next-lines {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.About {
    width: 100%;
}
.next-lines > .item-part:not(.About) {
    margin-left: 2em;
}

</style>
<form class="uploadForm" id='uploadForm' enctype='multipart/form-data'>
    <textarea id='About' type='text' name='About' placeholder='About'></textarea>
    <input id='FileElement' type='file' name='FileElement'/>
    <input id='Price' type='text' name='Price'  placeholder='Price'/>
    <input id='Title' type='text' name='Title'  placeholder='Title'/>
    <input id='Year' type='text' name='Year'  placeholder='Year'/>
    <div onclick="submitPost()" value="submit" class="form-submit" >submit</div>
</form>
<div class='stream'>
	{{ range $k, $v :=  .Stream }}
		<div class='item-outer'>
			<div class='item-part media-item FileElement'><img src='{{$v.TempFileName}}'/>{{ $v.FileElement }}</div>
<div class='next-lines'>
			<div class='item-part Title'>{{ $v.Title }}</div>
			<div class='item-part Year'>{{ $v.Year }}</div>
			<div class='item-part Price'>{{ $v.Price }}</div>
			<div class='item-part About'>{{ $v.About }}</div>
</div>
		</div>
	{{ end }}
</div>
