<script>
    async function submitPost() {
        const form = document.getElementById("uploadForm");
        const data = new FormData(form);
        let response = await fetch("/uploadItem", {
            method: "POST",
            body: data,
        });

        let res = await response.json();
        handleResponse(res);
    }

    function handleResponse(res) {
        if (res.success == "true") {
            window.location = window.location.origin;
        } else {
            document.getElementById("errorField").innerHTML = res.error;
        }
    }
</script>
<style>
body, html {
    margin: 3em 0.5em;
}
input, textarea {
    border: none;
}
::placeholder {
    color: var(--html-bg);
    opacity: 1; /* Firefox */
}
.stream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5em;
}
.uploadForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin: 1em;
}
.uploadForm > * {
    padding: 0.3em;
    width: 100%;
    border-radius: 0.3em;
    margin-top: 0.5em;
    background: #FFFFFF;
    border: 1px solid #e8e8e8;
}
.form-submit {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background: #f38d1c;
    border: 1px solid orange;
    color: white;
}
.stream > div {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.4em;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    background: #f1f1f1;
    cursor: pointer;
}
.media-item > img {
    width: 100%;
    border-radius: 0.4em;
}
.next-lines {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #e06767;
    color: #e8e8e8;
    padding: 0.6em;
    border-radius: 0.3em;
    font-size: 0.9em;
    align-items: center;
}
.About {
    width: 100%;
}
.next-lines > .item-part:not(.About) {
    <!-- margin-left: 2em; -->
}

@media screen and (orientation:landscape) {
    body, html {
        max-width: 80ch;
    }
    .stream {
        max-width: 80ch;
    }
}
</style>
<form class="uploadForm" id='uploadForm' enctype='multipart/form-data'>
            <input id='Email' type='text' name='Email'  placeholder='Email'/>
            <input id='Title' type='text' name='Title'  placeholder='Title'/>
            <textarea id='Message' type='text' name='Message' placeholder='Message'></textarea>
            <input id='FileElement' type='file' name='FileElement'/>
    <div onclick="submitPost()" value="submit" class="form-submit" >submit</div>
</form>
<div class='stream'>
	{{ range $k, $v :=  .Stream }}
		<div class='item-outer' onclick="window.location = '/view/{{$v.ID}}'">
			<div class='item-part media-item FileElement'><img src='/{{$v.TempFileName}}'/>{{ $v.FileElement }}</div>
<div class='next-lines'>
			<div class='item-part Title'>{{ $v.Title }}</div>
			<div class='item-part Email'>{{ $v.Email }}</div>
			<div class='item-part Message'>{{ $v.Message }}</div>
</div>
		</div>
	{{ end }}
</div>
